p {
    margin: 0;
    padding: 0;
}

.botaoExplore {
    color: #CCCCCC;
    background-color: #FFFFFF;
    font-weight: bold;
}

.botaoExploreSelected {
    font-weight: bold;
}

.ant-drawer-close {
    width: 20px;
    height: 20px;
    right: 10px;
    position: absolute;
}

.ant-btn.ant-btn-icon-only {
    width: 24px;
    height: 24px;
    border-radius: 6px;
}

.ant-btn{
    padding-left: 8px;
}

.ant-collapse-header .ant-collapse-arrow {
    display: none;
  }

@font-face {
    font-family: 'Avenir';
    src: url("/src/assets/fonts/avenir/AvenirNextLTPro-Regular.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url("/src/assets/fonts/avenir/AvenirNextLTPro-Demi.otf");
    font-weight: bold;
    font-style: normal;
}