.ol-zoom {
    top: auto;
    bottom: 12px;
    left: 8px;
}

.ol-zoom .ol-zoom-in {
    width: 32px;
    height: 32px;
    border-radius: 5px 5px 0 0;
}
  
.ol-zoom .ol-zoom-out {
    width: 32px;
    height: 32px;
    border-radius: 0 0 5px 5px;
}

.entenda {
    position: absolute;
    top: 16px;
    right: 16px;
    border-radius: 15px;
    height: 100;
}

.ajuda {
    top: auto;
    bottom: 12px;
    left: 44px;
    width: 32px;
    height: 32px;
}

.legenda {
    position: absolute;
    top: auto;
    bottom: 12px;
    right: 386px;
    border-radius: 10px;  

}

.legendaMobile {
    position: absolute;
    top: auto;
    bottom: 10px;
    left: 10px;
    min-width: 83px;
    min-height: 30px;
    border-radius: 6px;
}

.legendaCanto {
    position: absolute;
    top: auto;
    bottom: 12px;
    right: 16px;
    border-radius: 10px;  

}
