.ol-zoom {
    top: auto;
    bottom: 8px;
    left: 8px;
}

.ol-zoom .ol-zoom-in {
    width: 28px;
    height: 28px;
    border-radius: 5px 5px 0 0;
}
  
.ol-zoom .ol-zoom-out {
    width: 28px;
    height: 28px;
    border-radius: 0 0 5px 5px;
}

.entenda {
    top: 16px;
    right: 16px;
    height: 100px;
    border-radius: 15px;
    /* width: 2em;
    height: 2em; */
}

.ajuda {
    top: auto;
    bottom: 12px;
    left: 44px;
    width: 28px;
    height: 28px;
}

.legenda {
    position: absolute;
    top: auto;
    bottom: 12px;
    right: 378px;
    border-radius: 10px;    

}

.legendaMobile {
    position: absolute;
    top: auto;
    bottom: 10px;
    left: 10px;
    min-width: 83px;
    min-height: 30px;
    border-radius: 6px;
}